@font-face {
    src: url('../fonts/Ubuntu-Regular.ttf');
    font-family: "Ubuntu Regular";
}

@font-face {
    src: url('../fonts/Ubuntu-Bold.ttf');
    font-family: "Ubuntu Bold";
}

@font-face {
    src: url('../fonts/Ubuntu-Light.ttf');
    font-family: "Ubuntu Light";
}


body {
  margin: 0;
  padding: 10px;
  font-family: 'Ubuntu-Regular', Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

.nav {
	text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: aliceblue;
}
  
#navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
  
.menu {
	width: 100%;
	list-style: none;
	padding: 10px;
	font-size: 24px;
	margin: 0 auto;
	list-style-type: none;
    
}

.menu li {
	display: inline-block;
	padding: 10px;
	margin-right: -6px;
}

.menu a {
	color: rgb(58, 57, 57);
	background: aliceblue;
	text-decoration: none;
	padding: 10px;
	margin: 0;
	outline: none;
}

.menu a:hover {
	background: #ddd;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
}

.photo { 
  width: 27%; 
  float: left; 
  margin: 0 0 0 3.5%;
  border-radius: 5px; 
  padding: 2%; 
  opacity: 0.8;
} 
     
figure:first-child { 
  margin-left: 0;
} 

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

@media (max-height: 600px) {
    .photo {
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
    }
}

p {
    text-align: justify;
    font-size: large;
}

.about {
  display: flex;
  flex-direction: column;
  position: center;
  justify-content: center;
}

.name p {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.stack {
  text-align: left;
  padding-left: 25px;
}

.contacts li {
  flex-direction: column;
}

.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-template-rows: auto;
  grid-gap: 2vw;
  position: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}

.wrap {
  position: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 10px;
  left: 0;
  top: 0;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 700px;
  min-width: 100px;
  height: 500px;
  min-height: 100px;
  perspective: 100vw;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 10px;
}

.front {
  background-color: #fff;
  position: relative
}

.back {
  background-color: #BDBDBD;
  transform: rotateY(180deg);
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(360deg);
}
